%section
  .container
    .centred-row
      -# %h2 React Front-End Developer Bootcamp - Course Plan
      -# %p.copy--left
      -#   Learn to develop modern single page applications with React. React is an extremly popular library that helps you to quickly build and scale web apps. And yes, we do it testdriven.
      -# %p.copy--left
      -#   Our course plan was developed by professional software engineers and is based on real-life projects, updated to the latest practices and industry standards. This guarantees that our students, at every point, are learning the most relevant skills possible.

      -# %hr
    -# .definition-row
    -#   %aside#definition-top
    -#     %nav.definition-links
    -#       - data.react_curriculum_week_en.each_with_index do |week, index|
    -#         %a.definition-link{href: "#definition-#{index}"}= week[:title]
    -#   %article
    -#     - data.react_curriculum_week_en.each_with_index do |week, index|
    -#       .category
    -#         %h4{id: "definition-#{index}"}= week[:title]
    -#         %dl.definition{id: slug(week[:title])}
    -#           %dt= week[:summary]
    -#           %dd
    -#             %p= week[:blurb]
