#news-modal.modal
  %section
    %article
      %h4 Nyheter från Craft Academy
      %h2
        Ny Hub i Holland
      %p.copy--left
        %strong
          = link_to 'World Startup Factory', 'https://worldstartupfactory.com/', target: '_blank'
          och Craft Academy inleder ett strategiskt samarbete
          som syftar till att koppla ihop entreprenörer med nya programmeringstalanger.
      %p.copy--left
        Studenter från Haag i Holland kommer erbjudas att gå igenom kursen från World Startup Factorys anläggning och samarbeta med Craft Academys coacher och andra studenter på distans.
        Närheten till World Startup Factory kommer öppna upp för många spännande möjligheter för såväl våra studenter som för de entreprenörer som går igenom WSF's olika acceleratorprogram.
      = link_to 'Läs hela inlägget...', 'https://medium.com/craft-academy/new-remote-hub-in-holland-114b37bc97f9', target: '_blank', class: 'button', style: 'background-color: #f28e24; color: white; border: none;', id: 'flash-link'