#news-modal.modal
  %section
    %article
      %h4 Nyheter från Craft Academy
      %h2
        = "#CodingForBeginners - Coffee'n'Code".html_safe
      %p.copy--left
        %strong
          Vi brinner för kod, och vi är övertygade att vi blir bättre ju mer vi pratar om programmering. Det är anledningen till att vi sponsrar Coffee’n’Code, en ny meetup-grupp i
          = link_to 'Stockholm', 'https://www.meetup.com/CoffeenCodeSthlm/', target: '_blank'
          ,
          = link_to 'Göteborg', 'https://www.meetup.com/coffeencodegbg/', target: '_blank'
          och
          = link_to 'Pretoria', 'https://www.meetup.com/CoffeenCode-Pretoria/', target: '_blank'
          (Sydafrika).
          Det första evenemanget kommer vara ett hackathon där vi strävar efter att hitta en lösning till internetmobbning. Det är gratis att delta, så ta chansen att träffa intressanta människor och skapa lösningar som gör världen bättre! Vi kommer att bjuda på mat, snacks och dryck under dagen. Du kan anmäla dig genom länken i meetup-eventet (se till att du är i rätt stad!).
      /= link_to 'Läs hela inlägget...', 'https://medium.com/craft-academy/new-remote-hub-in-holland-114b37bc97f9', target: '_blank', class: 'button', style: 'background-color: #f28e24; color: white; border: none;', id: 'flash-link'
