#news-modal.modal
  %section
    %article
      %h4 Nyheter från Craft Academy
      %h2
        = "Inte redo att ta steget fullt ut?".html_safe
      %p.copy--left
        %strong
          Vi vet att det är ett stort engagemang att påbörja en Bootcamp - både ekonomiskt och tidsmässigt. 
          Det är ett enormt beslut och bör inte fattas lätt. 
      %p.copy--left
        Varför inte börja med "Introduktion till programmering" - en förberedande, lärarstödd distanskurs på 4 veckor? 
      %p.copy--left   
        Läs mer om 
        = link_to 'Introduction to programming', 'https://learn.craftacademy.co/p/introduction-to-programming', target: '_blank'
        och anmäl dig online.
      %p.copy--left
        Kursomgångar startar med 8 veckors mellanrum men du får tillgång till digitalt utbildningsmaterial så fort du anmäler dig. 
      %p.copy--left
        Din resa mot en ny karriärr kan börja redan nu. 
