- page ||= :default

%section.hero-splash-white
  .container
    .centered-row
      %article
        %h4.leader Bli en del av oss
        %h2{style: 'white-space: nowrap;'} 12 VECKOR - 14 DELTAGARE - 4 COACHER
        %ul
          %li
            %h4
              4 veckors förberedande kurs
          %li
            %h4
              12 veckors utmaningsbaserad utbildning på heltid
          %li
            %h4
              Kreativ miljö på plats i Stockholm eller Göteborg
          %li
            %h4
              Små grupper med upp till 14 deltagare
          %li
            %h4
              Erfarna coacher på plats och på distans
          %li
            %h4
              Allt kursmaterial tillgänglig digitalt
          %li
            %h4
              Utbildning inom efterfrågade utvecklingsmetoder som Agile och Testdriven utveckling
          %li
            %h4
              Moderna bibliotek och ramverk som HTML5, JavaScript, Ruby on Rails, React och React Native
          %li
            %h4
              Föreläsningar, nätverksträffar och meetups
          %li
            %h4
              Hjälp med att söka jobb via vårt kontaktnät
          %li
            %h4
              Mentorstöd och support efter avslutad utbildning
        - unless page == :payment
          = link_to 'Betalningsplaner', '/payment', locals: {page: :payment}, class: 'button button--vertical'
