@import "vendor/normalize";
@import "vendor/slick";
@import "vendor/bourbon/bourbon";
@import "vendor/neat/neat";
@import "vendor/prism";
@import "base";
@import "elements";

@import "overrides";

#news-flash{
  width: 70% !important;
  max-width: 70% !important;
}

@media only screen and (min-width: 320px) {
  #news-flash {
    width: 100% !important;
    max-width: 100% !important;
  }
}
