- description 'Our prices - Base Price for Craft Academy Bootcamp is 84 000 SEK.'
%section.hero-splash{style: "background-image: url(#{image_path('backgrounds/splash_4.jpg')});"}
  .container
    .centered-row
      %h1 Investment
      %p
        %strong
          Enrolling in the Craft Academy bootcamp is an investment in your future. It is the quickest way to jump-start a career in software development; one of the fastest and most efficient ways to change your life.
%section
  .container
    .centered-row
      %h4.leader Craft Academy
      %h2 Course Fees
      - Intake.future_dates[0..2].each do |intake|
        %h4
          = intake.course_name
        %h4{style: 'color: black; margin-bottom: 30px;'}
          = [intake.price, 'SEK incl. VAT'].join(' ')
      .three-width-row
        .column
          %h3.copy--left Everything included
          %p.copy--left Your course fees include all instruction, materials, and continued support before and after the bootcamp with technical and career assistance. We provide all the necessary tools to develop efficiently - software licenses, a functional and ergonomic work environment - even a computer, if you need. The course fee also includes the Swedish VAT tax of 25%.
        .column
          %h3.copy--left Female participants
          %p.copy--left We also proudly offer a 5% discount to female bootcamp participants. Our industry needs more female developers and we want to do everything we can to help women succeed on their coding journey.
      %p.copy--left
        Finances shouldn't stop anyone from fulfilling their dream of becoming a programmer. We encourage everyone to contact us to discuss payment options, including our flexible deposit and payment schedule.
      %p.copy--left
        A new cohort starts every eight weeks. Will you start your career as a junior developer with us?

%section.hero-splash-white
  .container
    .centered-row
      %h2 Payment and Funding Options
      %p.copy
        The Craft Academy Boot Camp is a private education and thus does not qualify for CSN support. You can choose to pay the education fee according to our standard model or apply for a partial payment.
      %h3 Standard fee
      %table.responsive-table
        %thead.backgrounded
          %tr
            %th Program
            %th At registration<br><small> (registration fee)
            %th At course start
            %th Total (incl. 25% VAT)

        %tbody
          %tr
            %td{data:{header: 'Program'}} Full Stack Web Developer
            %td{data:{header: 'At registration'}} 9 700 SEK
            %td{data:{header: 'At course start'}} 87 300 SEK
            %td{data:{header: 'Total'}}
              %strong
                97 000 SEK
          %tr
            %td{data:{header: 'Program'}} Enterprise Java Web Application Developer
            %td{data:{header: 'At registration'}} 11 500 SEK
            %td{data:{header: 'At course start'}} 103 500 SEK
            %td{data:{header: 'Total'}}
              %strong
                115 000 SEK
          %tr
            %td{data:{header: 'Program'}} Cyber Security Specialist
            %td{data:{header: 'At registration'}} 12 500 SEK
            %td{data:{header: 'At course start'}} 112 500 SEK
            %td{data:{header: 'Total'}}
              %strong
                125 000 SEK
    .centered-row
      %h3 Full at registration = 5% discount
      %p You can choose to pay the full course fee upon admission to any of our programs and receive a 5% discount.
      %table.responsive-table
        %thead.backgrounded
          %tr
            %th Program
            %th List price
            %th Discount
            %th Total at registration (incl. 25% VAT)
        %tbody
          %tr
            %td{data:{header: 'Program'}} Full Stack Web Developer
            %td{data:{header: 'List price'}} 97 000 SEK
            %td{data:{header: 'Discount'}} 5 %
            %td{data:{header: 'Total at registration(incl. 25% VAT)'}}
              %strong
                92 150 SEK
          %tr
            %td{data:{header: 'Program'}} Enterprise Java Web Application Developer
            %td{data:{header: 'List price'}} 115 000 SEK
            %td{data:{header: 'Discount'}} 5%
            %td{data:{header: 'Total at registration(incl. 25% VAT)'}}
              %strong
                109 250 SEK
          %tr
            %td{data:{header: 'Program'}} Cyber Security Specialist
            %td{data:{header: 'List price'}} 125 000 SEK
            %td{data:{header: 'Discount'}} 5%
            %td{data:{header: 'Total at registration(incl. 25% VAT)'}}
              %strong
                118 750 SEK

    .centered-row
      %h3 Interest-free instalments  *
      %table.responsive-table
        %thead.backgrounded
          %tr
            %th Program
            %th At registration<br><small>(registration fee)
            %th At course start
            %th 24 monthly installments<br><small>(inkl. 75 SEK service fee)
            %th Total (incl. 25% VAT)
        %tbody
          %tr
            %td{data:{header: 'Program'}} Full Stack Web Developer
            %td{data:{header: 'At registration'}} 9 700 SEK
            %td{data:{header: 'At course start'}} 29 100 SEK
            %td{data:{header: '24 monthly installments'}} 2 500 SEK/month
            %td{data:{header: 'Total'}}
              %strong
                98 800 SEK
          %tr
            %td{data:{header: 'Program'}} Enterprise Java Web Application Developer
            %td{data:{header: 'At registration'}} 11 500 SEK
            %td{data:{header: 'At course start'}} 34 500 SEK
            %td{data:{header: '24 monthly installments'}} 2 950 SEK/month
            %td{data:{header: 'Total'}}
              %strong
                116 800 SEK
          %tr
            %td{data:{header: 'Program'}} Cyber Security Specialist
            %td{data:{header: 'At registration'}} 12 500 SEK
            %td{data:{header: 'At course start'}} 37 500 SEK
            %td{data:{header: '24 monthly installments'}} 3 200 SEK/month
            %td{data:{header: 'Total'}}
              %strong
                126 800 SEK

      %small  * Interest-free installments are normaly offered to students residing in Sweden and in special cases to EU residents.
      %br
        %small Regular credit check will be carried out. Monthly installments include a 75 SEK service fee.
    .centered-row
      %h3 Female participants
      %p.copy--center
        We also offer <strong>another 5%</strong> discount to all female students. (We think that gender inequality sucks, and we want to do whatever we can to help put. You don't like it? Sue us!).
        %strong Please note:
        The 5% discount offered to female bootcamp participants will be applied on top of the other discounts.
= partial :'/english/partials/_apply.html.haml'
