#news-modal.modal
  %section
    %article
      %h4 News from Craft Academy
      %h2
        = "Learn To Code - Not ready to commit?".html_safe
      %p.copy--left
        %strong
          We understand that joining a bootcamp is a huge commitment - both financially and in terms of time. 
          Transitioning into programming is an enormous decision and should not be taken lightly.
      %p.copy--left
        What if there was a way to get started without jumping off a cliff?  I would like you to take a look at our new online courses and specifically Introduction To Programming. 
        This course is the most efficient way to get real hands-on experience with the programming fundamentals. 
      %p.copy--left    
        = link_to 'Introduction to programming', 'https://class.craftacademy.co/courses/course-v1:CraftAcademy+ITP-01+2018-05/about', target: '_blank'
        is a 4 week long, part time course that covers the basics of object oriented programming, databases, web development, version control and more. 
      %p.copy--left
        Sign up now or call any of us to hear more about this opportunity.  
