#news-modal.modal
  %section
    %article
      %h4 News from Craft Academy
      %h2
        = "#CodingForBeginners - Coffee'n'Code".html_safe
      %p.copy--left
        %strong
          We’re passionate about programming, and we strongly believe that we get better when we talk about code. This is why we’re sponsoring Coffee’n’Code, a new meetup-group in
          = link_to 'Stockholm', 'https://www.meetup.com/CoffeenCodeSthlm/', target: '_blank'
          ,
          = link_to 'Gothenburg', 'https://www.meetup.com/coffeencodegbg/', target: '_blank'
          (Sweden) and
          = link_to 'Pretoria', 'https://www.meetup.com/CoffeenCode-Pretoria/', target: '_blank'
          (South Africa). The first event will be a hackathon where we aim to find a solution to cyber bullying. It's free to attend for all, so take this chance to meet interesting people and help bring creative solutions to the world! We will provide food, drinks and snacks throughout the day. You can find the RVSP link in the meetup event (make sure you’re in the right city!).
      -#= link_to 'Read the blog post', 'https://medium.com/craft-academy/new-remote-hub-in-holland-114b37bc97f9', target: '_blank', class: 'button', style: 'background-color: #f28e24; color: white; border: none;', id: 'flash-link'
