#news-modal.modal
  %section
    %article
      %h4 News from Craft Academy
      %h2
        New Hub in Holland
      %p.copy--left
        %strong
          = link_to 'World Startup Factory', 'https://worldstartupfactory.com/', target: '_blank'
          and Craft Academy enters into a strategic partnership
          that will bring coding and software development skills to the Startup scene of the Hague.
      %p.copy--left Learners from The Hague will be able to work from World Startup Factory’s offices to take part in Craft Academy’s training as remote students - collaborating with students from Gothenburg and Stockholm.
      = link_to 'Read the blog post', 'https://medium.com/craft-academy/new-remote-hub-in-holland-114b37bc97f9', target: '_blank', class: 'button', style: 'background-color: #f28e24; color: white; border: none;', id: 'flash-link'